@mixin pink {
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 2px black;
}

.block1 {
  @include pink();
  .block2,
  .block3 {
    @include pink();
  }
}

@mixin white($w: 50px, $hi: 50px, $back: yellow, $bor: yellow) {
  width: $w;
  height: $hi;
  background-color: $back;
  border: $bor;
}
$w: 200px;
.white {
  @include white($w * 2, 400px, green, pink);
  .block2,
  .block3 {
    @include white();
  }
}

@mixin black($w, $h, $back, $bor) {
  width: $w;
  height: $h;
  background-color: $back;
  border: $bor;
}

.black {
  @include black($w * 3, 200px, red, 1px solid green);
}
