.Forum-main-middle {
  padding: 0px 15px;
  justify-content: left;
  position: relative;
  .Forum-main-DateAndDropdown {
    position: absolute;
    top: 0px;
    right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
    .Forum-main-date {
      // font-size: 40px;
    }
    .Forum-main-dropdown {
      display: inline-block;
      background-color: pink;
      color: white;
      padding: 0 1rem;
      .Forum-main-dropdown-content {
        display: none;
      }
      &:hover {
        padding: 0 1rem;
        .Forum-main-dropdown-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 2px 0;
          p {
            margin: 0.5rem 0;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}
