$max_content_width: 1024px;
$color_lightblue: #e9ebee;
$color_blue: #3b5998;
$color_white: #fff;
$color_black: #555;
$break_width: 800px;
* {
  //   border: solid 1px black;
  //   讓FB的font以及input垂直置中
  vertical-align: middle;
  position: relative;
  font-family: "microsoft jhenghei";
}
html,
body {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  margin: 0;
  padding: 0;
  background-color: $color_lightblue;
  .container {
    max-width: $max_content_width;
    margin-left: auto;
    margin-right: auto;
    .topbar {
      height: 50px;
      background-color: $color_blue;
      .fa-brands,
      .fa-facebook {
        color: white;
        font-size: 30px;
        margin: 10px;
      }
      input {
        height: 30px;
        margin: 10px;
        margin-left: 0px;
        width: 300px;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
      }
    }
    .cover {
      background-image: url("https://scontent.frmq2-1.fna.fbcdn.net/v/t31.18172-8/18056229_1674262062589249_5777942672103137886_o.jpg?_nc_cat=102&ccb=1-5&_nc_sid=e3f864&_nc_ohc=UtmEf8k5A5IAX9RAd1s&_nc_ht=scontent.frmq2-1.fna&oh=00_AT-B8btA_EjhV87UvzFT6bUmiPYVEZjzJlchC-9EtS6ibQ&oe=623ABBB7");
      background-position: 0 bottom;
      height: 330px;
      background-size: 100% auto;
    }
    .midbar {
      height: 50px;
      background-color: $color_white;
      .personimg {
        width: 130px;
        height: 130px;
        background-image: url("https://scontent.frmq2-2.fna.fbcdn.net/v/t1.6435-9/87677485_3375087765839995_3202439680184287232_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=174925&_nc_ohc=PUpEA-wRFAsAX_j2k1b&_nc_ht=scontent.frmq2-2.fna&oh=00_AT-sUxF8ouu-p5ORcsTQk3gxYXVqYz80_N3-mHCBy1ba_A&oe=623CA53C");
        background-size: 100% auto;
        border: solid 4px white;
        position: absolute;
        top: -130px;
        left: 20px;
        .names {
          position: absolute;
          right: -120px;
          color: white;
          top: 50%;
          transform: translateY(-50%);
          h2,
          h5 {
            margin: 0px;
          }
          h2 {
            font-size: 32px;
          }
          h5 {
            font-size: 16px;
          }
        }
      }
    }
    .bottombar {
      width: 35%;
      min-width: 300px;
      padding: 20px;
      font-size: 14px;
      line-height: 25px;
      background-color: $color_white;
      margin-top: 10px;
      i {
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: $break_width) {
  .topbar {
    height: 60px;
    > .icon {
      height: 40px;
      margin: 10px;
      > input {
        height: 35px;
        width: calc(100% - 50px - 30px);
        margin-top: 12.5px;
        background-color: darken($color_blue, 15);
        color: darken(white, 100);
      }
    }
  }
  .midbar {
    white-space: nowrap;
    height: 120px;
    > .personimg {
      // position: absolute
      left: 50%;
      transform: translateX(-50%);
      > .names {
        right: initial;
        left: 50%;
        top: initial;
        transform: translateX(-50%);
        bottom: -50%;
        color: $color_black;
      }
    }
  }
  .bottom_bar {
    margin-top: 0px;
    width: 100%;
    > p {
      padding: 10px;
      border-top: solid 1px rgba(black, 0.2);
    }
  }
}
