.box,
.block {
  border: solid 2px black;
}

.box {
  width: 900px;
  height: 500px;
  position: relative;
}

.box .block {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

.box .block1 {
  left: 150px;
  -webkit-animation: ani1 2s infinite;
          animation: ani1 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.box .block2 {
  left: 300px;
  -webkit-animation: ani2 2s infinite;
          animation: ani2 2s infinite;
}

.box .block3 {
  left: 450px;
  -webkit-animation: ani3 2s infinite;
          animation: ani3 2s infinite;
}

.box .block4 {
  left: 600px;
  -webkit-animation: ani4 2s infinite;
          animation: ani4 2s infinite;
}

.box .block5 {
  left: 750px;
  -webkit-animation: ani5 2s infinite;
          animation: ani5 2s infinite;
}

@-webkit-keyframes ani1 {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 0px;
    background-color: red;
  }
  100% {
    bottom: 100px;
  }
}

@keyframes ani1 {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 0px;
    background-color: red;
  }
  100% {
    bottom: 100px;
  }
}

@-webkit-keyframes ani2 {
  0% {
    bottom: 100px;
  }
  30% {
    background-color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background-color: red;
    bottom: 0px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    background-color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 100px;
  }
}

@keyframes ani2 {
  0% {
    bottom: 100px;
  }
  30% {
    background-color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background-color: red;
    bottom: 0px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    background-color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 100px;
  }
}

@-webkit-keyframes ani3 {
  0% {
    bottom: 100px;
  }
  30% {
    background-color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    bottom: 0px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    background-color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    bottom: 100px;
  }
}

@keyframes ani3 {
  0% {
    bottom: 100px;
  }
  30% {
    background-color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    bottom: 0px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    background-color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    bottom: 100px;
  }
}

@-webkit-keyframes ani4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
  25% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50% {
    -webkit-transform: translateX(25px) translateY(-25px);
            transform: translateX(25px) translateY(-25px);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(-25px);
            transform: translateX(0px) translateY(-25px);
  }
}

@keyframes ani4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
  25% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50% {
    -webkit-transform: translateX(25px) translateY(-25px);
            transform: translateX(25px) translateY(-25px);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(-25px);
            transform: translateX(0px) translateY(-25px);
  }
}

@-webkit-keyframes ani5 {
  0% {
    -webkit-transform: skewX(45deg);
            transform: skewX(45deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes ani5 {
  0% {
    -webkit-transform: skewX(45deg);
            transform: skewX(45deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
/*# sourceMappingURL=css製作影像動畫animation.css.map */